{% extends 'base.html.twig' %}

{% set title = 'Validation du panier' %}

{% block content %}

    {% if commandes | length != null %}
        
        <h3 class="leadTitleLeft">Valider mon panier</h3><br><br>
        <table class="table">
            <thead>
                <tr>
                    <th class="align-top text-center">Référence(s)</th>
                    <th class="align-top text-center">Quantité</th>
                    <th class="align-top text-center">Prix unitaire</th>
                    <th class="align-top text-center">Total HT</th>
                </tr>
            </thead>
            <tbody>
                {% for item in commandes.commande.produit %}
                {% set prixTotal = item.prixHT * item.quantite %}
                <tr>
                    <td class="align-middle" width="300">
                        <div class="cartImg float-left">
                            {% for image in item.image %}
                            {% if loop.first %}
                            <img src="{{ asset('images/produits/') ~ image.imageName }}" alt="{{ item.reference }}"
                                class="img-fluid">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cartTitle float-right">{{ item.reference }}</div>
                    </td>
                    <td class="text-center align-middle">
                        {{ item.quantite }}
                    </td>
                    <td class="text-center align-middle">{{ item.prixHT }}</td>
                    <td class="text-center align-middle">
                        {{ prixTotal | number_format(2, ',', ' ') }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="title text-right">Montant Total HT</td>
                    <td class="text-center titleColor">{{ commandes.commande.totalHT }}
                        €</td>
                </tr>
                {% for key, tva in commandes.commande.tva %}
                <tr>
                    <td colspan="3" class="title text-right">TVA {{ key }} : </td>
                    <td class="text-center titleColor">{{ tva }}
                        €</td>
                </tr>
                {% endfor %}
                <tr class="tableSecondary">
                    <td class="align-bottom" colspan="2">
                        <dl class="pull-left">
                            <dt>Adresse de livraison</dt>
                            {% set livraison = commandes.commande.livraison %}
                            {% if livraison != null %}
                                <dt class="dtLivraison">{{ livraison.prenom }} {{ livraison.nom }}</dt> 
                                <dt class="dtLivraison">{{ livraison.adresse }}</dt> 
                                <dt class="dtLivraison">{{ livraison.codePostal }}, {{ livraison.ville }} - {{ livraison.pays }}</dt> 
                            {% endif %}
                        </dl>
                    </td>
                    <td class="titleLead text-right align-bottom">Montant Total TTC</td>
                    <td class="text-center titleLeadColor align-bottom">{{ commandes.commande.totalTTC }}
                </tr>
            </tfoot>
        </table>
        <hr class="mt-3">
        <h6 class="mt-4 text-right">Vous avez un code de réduction ? 
            <a class="ancreBoldColored" href="#">Cliquez-ici</a>
        </h6>
        <div class="mt-4">
            <a class="btn btn btnSuccess2 float-left" href="{{ path('cart_livraison') }}">Retour</a>
            <span>
                <form action="{{ path('commande_validation', { 'id' : commandes.id }) }}" method="post">
                    <input type="hidden" name="token" value="{{ commandes.commande.token }}">
                    <input type="hidden" name="prix" value="{{ commandes.commande.totalTTC }}">
                    <input type="hidden" name="date" value="{{ commandes.date | date() }}">

                    <button class="btn btnSubmit float-right col-md-2">Je fonce !</button>
                </form>
            </span>
        </div>
    {% else %}
        <div class="retour mb-4">
            <div class="returned"><a href="{{ path('cart_livraison') }}">Retour</a></div>
            <div><a href=""></a></div>
            <div class="title"></div>
        </div>
        <div class="alert alert-danger text-center"><img class="mr-2 mb-2" src="{{ asset('photo/crying.svg') }}" alt="baby crying" width="82"><br> Aïe !!! Aucune commande en cours. Veuillez en ajouter.
        </div>
    {% endif %}


{% endblock %}