{% extends 'base_index.html.twig' %}

{% set title = 'Inscription' %}

{% block main %}

<div class="registration">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 register">
                <h4 class="text-center leadTitle">Inscrivez-vous gratuitement pour accéder aux ventes</h4><br>
                <div class="mt-4">
                    {{ form_start(registerForm) }}

                    {{ form_row(registerForm.civilite, { 'label' : 'Civilité' }) }}

                    <div class="errorForm">{{ form_errors(registerForm.username) }}</div>  
                    {{ form_widget(registerForm.username, { 'attr' : { 'placeholder' : 'Nom d\'utilisateur *', 'class' : 'form-group' } }) }}

                    <div class="errorForm">{{ form_errors(registerForm.password) }}</div> 
                    {{ form_widget(registerForm.password) }}

                    <div class="errorForm">{{ form_errors(registerForm.nom) }}</div> 
                    {{ form_widget(registerForm.nom, { 'attr' : { 'placeholder' : 'Nom *', 'class' : 'form-group' } }) }}

                    <div class="errorForm">{{ form_errors(registerForm.prenom) }}</div> 
                    {{ form_widget(registerForm.prenom, { 'attr' : { 'placeholder' : 'Prénom *', 'class' : 'form-group' } }) }}

                    <div class="errorForm">{{ form_errors(registerForm.email) }}</div> 
                    {{ form_widget(registerForm.email, { 'attr' : { 'placeholder' : 'Email *', 'class' : 'form-group' } }) }}
                    
                    {{ form_rest(registerForm) }}

                    <button type="submit" class="btn btnSubmit">C'est parti !</button>

                    {{ form_end(registerForm) }}

                    <div class="champsObligatoires">
                        <p>* Champs obligatoires.</p>
    
                        <p>Ces champs sont obligatoires et sont destinés à Vintage, responsable du traitement, aux fins d’effectuer l’ensemble des opérations relatives à notre relation commerciale, à savoir la création de votre compte, les modalités de paiement, de gestion des réclamations et du service après-vente.</p>
    
                        <p>Conformément à la Règlementation sur les Données Personnelles, nous vous informons de l’existence du droit de demander à Vintage l’accès à vos données, la rectification, l’effacement de celles-ci, ou une limitation du traitement relatif à vos données, ou le droit de vous opposer au traitement, le droit à la portabilité de vos données et ainsi que l’exercice de vos directives post-mortems. Pour plus d’information sur l’existence de vos droits ainsi que les moyens pour les mettre en œuvre, nous vous invitons à consulter l’Article III – Vos Droits de notre politique de confidentialité et de Protection de la Vie Privée.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
