<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="{% block motsCles %}{% endblock %}">
		<meta
		name="description" content="{% block description %}{% endblock %}">

		{{ encore_entry_link_tags('app') }}
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">

		<!-- Bootstrap Date Picker Stylesheet -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
		<!-- Ico-moon Stylesheet -->
		<link rel="stylesheet" href="{{ asset('css/icomoon/style.css') }}">

		<!-- Screen Stylesheet -->
		<link rel="stylesheet" media="screen and (min-width: 992px)" href="{{ asset('css/style.css') }}">
		<!-- Tablet CSS style -->
		<link rel="stylesheet" media="(min-width: 768px) and (max-width:991.98px)" href="{{ asset('css/tablet.css') }}">
		<!-- Mobile CSS style -->
		<link rel="stylesheet" media="screen and (max-width:640px)" href="{{ asset('css/mobile.css') }}">

		{{ encore_entry_script_tags('app') }}
		
		<!-- Bootstrap Date Picker JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
		<!-- ElevateZoom JS -->
		<script src='{{ asset('images/produits/elevatezoom-master/jquery.elevatezoom.js') }}'></script>

		<title>{{ title }}</title>
	</head>
	<body>
		<header id="header__global">
			<div id="top__global" class="top">
				<div id="burgerLine__mobile">
					<div class="line1__mobile"></div>
					<div class="line2__mobile"></div>
					<div class="line3__mobile"></div>
				</div>
				<div class="profil_icon">
					{% if app.user %}
					{{ render(url('user_profile_name')) }}
					{% else %}
					<div class="burgerLine__global">
						<div class="line1"></div>
						<div class="line2"></div>
						<div class="line3"></div>
						Menu
					</div>
					{% endif %}
					<div class="profil">
						<ul>
							{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
							<li>
								<a href="{{ path('inscription') }}">Inscription</a>
							</li>
							<li>
								<a href="{{ path('connexion') }}">Connexion</a>
							</li>
							{% else %}
							<li class="role">
								<i class="icon-user1"></i>
								<strong>Membre</strong>
							</li>
							<li>
								<a href="{{ path('user_profile') }}">
									<i class="icon-profile"></i>
									Mon Compte
								</a>
							</li>
							<li>
								<a href="{{ path('commandes_list') }}">
									<i class="icon-choices"></i>
									Mes commandes
								</a>
							</li>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
							<hr>
							<li class="role">
								<a href="{{ path('dashboard') }}">
									<i class="icon-business"></i>
									Administration
								</a>
							</li>
							{% endif %}
							{% if app.user %}
							<hr>
							<li>
								<a href="{{ path('deconnexion') }}">
									<i class="icon-plug"></i>Déconnexion</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="navigator">
					<div class="navigatorLeft">
						<span id="ico__form__mobile__js" class="ico__form__mobile__js">
							<i class="icon-magnifying-glass"></i>
						</span>
						<div class="query__block">
							<div class="close__form__mobile text-right">
								<i class="icon-cancel"></i>
							</div>
							<div class="query">
								<form id="queryForm" action="{{ path('search_products') }}" method="post">
									<input type="text" name="query" id="search" placeholder="Rechercher sur Vintage">
								</form>
								<i class="icon-magnifying-glass searchBtn"></i>
								<div id="viewSearch"></div>
							</div>
						</div>
					</div><!-- navigatorLeft -->
	
					<div class="navigatorCenter">
						<div class="logotype">
							<a href="{{ path('home') }}"><img src="{{ asset('photo/logo_vintage.svg') }}" alt="logo vintage"></a>
						</div>
					</div><!-- navigatorCenter -->
	
					<div class="navigatorRight">
						<div class="who__global">
							<i class="icon-conversation"></i>
							<a href="{{ path('qui_sommes_nous') }}">Qui sommes-nous</a>
						</div>
						<div class="contact__global">
							<i class="icon-send"></i>
							<a href="{{ path('contact') }}">Nous contacter</a>
						</div>
						<div class="cartIcon">
							<a href="{{ path('cart_index') }}">
								<div class="cart__screen">
									<i class="icon-shopping-bag"></i>
								</div>
								<div class="panier__global">
									<i class="icon-shopping-bag"></i>
									Panier
								</div>
							</a>
							{{ render(url('cart_nb_articles')) }}
						</div>
					</div><!-- navigatorRight -->
					
				</div>
				<!-- navigator -->
			</div><!-- top -->

			<nav id="nav__global">
				<div class="container">
					<ul class="navigation">
						<div class="wrapper__mobile">
							<li>
								<a class="{{ (title == 'Acceuil') ? 'nav__active__global' : '' }}" href="{{ path('home') }}">Accueil</a>
							</li>
							<li>
								<a class="{{ (title == 'Tendance') ? 'nav__active__global' : '' }}" href="{{ path('rubrique_tendance') }}">Tendance</a>
							</li>
							<li>
								<a class="{{ (title == 'Art déco') ? 'nav__active__global' : '' }}" href="{{ path('rubrique_art_deco') }}">Art déco</a>
							</li>
							<li>
								<a class="{{ (title == 'Automobile') ? 'nav__active__global' : '' }}" href="{{ path('rubrique_automobile') }}">Automobile</a>
							</li>
							<li>
								<a class="{{ (title == 'Sport et loisir') ? 'nav__active__global' : '' }}" href="{{ path('rubrique_sport_loisir') }}">Sport & Loisir</a>
							</li>
							<li id="open__profile__user__js">
								<hr>
								<div class="profil__mobile">
									<ul>
										{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
										<li>
											<a href="{{ path('inscription') }}">Inscription</a>
										</li>
										<li>
											<a href="{{ path('connexion') }}">Connexion</a>
										</li>
										{% else %}
										<li class="role">
											<i class="icon-user1"></i>
											<strong>Membre</strong>
										</li>
										<li>
											<a href="{{ path('user_profile') }}">
												<i class="icon-profile"></i>
												Mon Compte
											</a>
										</li>
										<li>
											<a href="{{ path('commandes_list') }}">
												<i class="icon-choices"></i>
												Mes commandes
											</a>
										</li>
										{% endif %}
										{% if is_granted('ROLE_ADMIN') %}
										<hr>
										<li class="role">
											<a href="{{ path('dashboard') }}">
												<i class="icon-business"></i>
												Administration
											</a>
										</li>
										{% endif %}
										{% if app.user %}
										<hr>
										<li>
											<a href="{{ path('deconnexion') }}">
												<i class="icon-plug"></i>Déconnexion</a>
										</li>
										{% endif %}
									</ul>
								</div>
							</li>
						</div>
					</ul>
				</div>
			</nav>

		</header>
		<div class="scrollBtn">
			<div class="scroller">
				<i class="icon-previous"></i>
			</div>
			<div class="textScroll">Retour en haut</div>
		</div>
		<main>
			<br>
			{% block main %}

				{% block contentFluid %}{% endblock %}

				<div class="container content">

					<div class="loader">
						<div class="spinLoader">
							<img src="{{ asset('photo/loader.svg') }}" alt="loader vintage">
						</div>
					</div>

					{% for message in app.flashes('success') %}
						<div class="alert alert-success mb-4">{{ message | raw }}</div>
					{% endfor %}

					{% for message in app.flashes('errors') %}
						<div class="alert alert-danger mb-4">{{ message | raw }}</div>
					{% endfor %}

					{% block content %}{% endblock %}
					
				</div>
				
				<div class="container content2">
					{% block content2 %}{% endblock %}
				</div>
				
				{% block contentFluidBottom %}{% endblock %}

			{% endblock %}
		</main>

		<footer>
			<div class="container pied">
				<div>
					<a href="{{ path('conditions_vente') }}">Conditions générales de vente</a>
				</div>
				<div>
					<a href="{{ path('mentions_legales') }}">Mentions légales</a>
				</div>
				<div class="link__hidden__screen">
					<a href="{{ path('qui_sommes_nous') }}">Qui sommes-nous</a>
				</div>
				<div class="link__hidden__screen">
					<a href="{{ path('contact') }}">Nous contacter</a>
				</div>
				<div class="socialMedia">
					<span>Rejoignez-nous sur</span>
					<a href="">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="">
						<i class="fab fa-youtube"></i>
					</a>
				</div>
				<div class="vintage">&copy;
					{{ 'now' | date('Y') }}, Vintage.fr 
					<span class="separate__vintage">|</span> 
					<span>Tous droits réservés.</span>
				</div>
			</div>
		</footer>

		<script>
			window.onload = () => 
			{
				let spin = document.querySelector('.spinLoader').style;
				spin.opacity = 1;
				spin.pointerEvents = 'none';
				
				function fade() 
				{
					spin.opacity = 0;
				}

				setTimeout(fade, 500);
			}

			$(function() 
			{
				function burgerLineGlobal() 
				{
					$('.burgerLine__global').mouseenter(() => 
					{
						$('.burgerLine__global').toggleClass('toggleBurger');
					});

					$('.burgerLine__global').mouseleave(() => 
					{
						$('.burgerLine__global').toggleClass('toggleBurger');
					});
				}
				burgerLineGlobal();

				function contactWhoWeAre() 
				{
					$('.who__global a').mouseover(() => 
					{
						$('.who__global i').css('color', '#DF4949');
					});
					$('.who__global a').mouseout(() => 
					{
						$('.who__global i').css('color', '');
					});
	
					$('.contact__global a').mouseover(() => 
					{
						$('.contact__global i').css('color', '#DF4949');
					});
					$('.contact__global a').mouseout(() => 
					{
						$('.contact__global i').css('color', '');
					});
				}
				contactWhoWeAre();

				if ($(window).width() < 992) 
				{
					function showProfil() 
					{
						$('#show__my__count').click((e) => 
						{
							e.preventDefault();
							$('.profileLeft ul').slideToggle('slow');
							$('.fas .fa-angle-down').hide();
						});
					}
					showProfil();
				}


			});

		</script>

		{% block javascripts %}{% endblock %}
	</body>
</html>
