{% extends 'base.html.twig' %}

{% set title = 'Liste des commandes' %}
{% block motsCles %}
{#{ produit.titre | keywords(2) }#}
{% endblock %}
{% block description %}
{#{ produit.description | striptags | truncate(200,true) }#}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3 profileLeft">
        <a class="{{ (title == 'Liste des commandes') ? 'profileActiveLead' : '' }}" href="{{ path('commandes_list') }}">Mes
            commandes <i class="fas fa-angle-down float-right angleDP"></i></a>
        <a class="{{ (title == 'Liste des factures') ? 'profileActiveLead' : '' }}" href="{{ path('factures_list') }}">Mes
            factures <i class="fas fa-angle-down float-right angleDP"></i></a>
        <a class="{{ (title == 'Profile') ? 'profileActiveLead' : '' }}" href="{{ path('user_profile') }}">Mon Compte <i
                class="fas fa-angle-down float-right angleDP"></i></a>
        <ul>
            <li><a href="{{ path('user_infos_perso') }}">Informations personnelles</a></li>
            <li><a href="{{ path('user_reset_address') }}">Mes coordonnées</a></li>
            <li><a href="{{ path('user_reset_email') }}">Email</a></li>
            <li><a href="{{ path('reset_password') }}">Mot de passe</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h1 class="headerOneColor">Liste de mes commandes</h1>
        <p class="mb-4 textMedium">Suivez étape par étape l'état d'avancement de vos commandes et vérifiez tous les détails concernant vos achats.</p>
        
        <h2 class="headerTwoProfile">LISTE DE MES COMMANDES</h2>
        <div class="infosPerso">
            {% if commandes | length != null %}
                <table class="table commandeListTable">
                    <thead>
                        <tr class="trBorderless">
                            <th class="align-top text-center">#</th>
                            <th class="align-top text-center">Produit(s)</th>
                            <th class="align-top text-center">Référence</th>
                            <th class="align-top text-center">Date</th>
                            <th class="align-top text-center">Statut</th>
                            <th class="align-top text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, item in commandes %}
                        <tr>
                            <td>{{ key + 1 }}</td>
                            <td>
                                <ul>
                                    {% for product in item.commande.produit %} 
                                        <li>{{ product.reference }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center">{{ item.reference }}</td>
                            <td class="text-center">
                                {{ item.date | date('d/m/Y à H:i') }}
                            </td>
                            <td class="text-center">
                                {% if item.valider != true %}
                                    <div class="btn btn-danger btn-sm smBtnDanger">{{ 'En cours' }}</div>
                                {% else %}
                                    <div class="btn btn-success btn-sm smBtn">{{ 'Payé' }}</div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {{ item.commande.totalTTC | number_format(2, ',', ' ') }}€
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="mb-4 textMedium">Vous n'avez encore passé aucune commande.</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}