{% extends 'base.html.twig' %}

{% set title = 'Facturation de la commande' %}

{% block content %}

    {% if factures | length != 0 %}
    <h3 class="leadTitleLeft">Factures</h3><br><br>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Réf.</th>
                    <th>Désignation</th>
                    <th>Date</th>
                    <th>Prix TTC</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for facture in factures %}
                    {% for item in facture.commande.produit %}
                        <tr>
                            <td>
                                {{ facture.reference }}
                            </td>
                            <td>
                                {{ item.reference }}
                            </td>
                            <td>
                                {{ facture.date | date('d/m/Y à H:i') }}
                            </td>
                            <td>
                                {{ item.prixTTC | number_format(2, ',', ' ') }} €
                            </td>
                            <td>
                                {% if facture.valider != true %}
                                <div class="btn btn-danger btn-sm smBtnDanger">{{ 'En cours' }}</div>
                                {% else %}
                                    <div class="btn btn-success btn-sm smBtn">{{ 'Payé' }}</div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('commandes_facture_pdf', { 'id' : facture.id }) }}" target="_blank"><i class="icon-reload reloadFacture"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                </tbody>
                    
            </table>
            

    {% else %}
        <div class="alert alert-danger text-center"><img class="mr-2 mb-2" src="{{ asset('photo/crying.svg') }}" alt="baby crying" width="82"><br> Aïe !!! Aucune commande en cours. Veuillez en ajouter.
        </div>
    {% endif %}
        
{% endblock %}