{% extends 'base.html.twig' %}

{% set title = 'Liste des factures' %}
{% block motsCles %}
{#{ produit.titre | keywords(2) }#}
{% endblock %}
{% block description %}
{#{ produit.description | striptags | truncate(200,true) }#}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3 profileLeft">
        <a class="{{ (title == 'Liste des commandes') ? 'profileActiveLead' : '' }}" href="{{ path('commandes_list') }}">Mes
            commandes <i class="fas fa-angle-down float-right angleDP"></i></a>
        <a class="{{ (title == 'Liste des factures') ? 'profileActiveLead' : '' }}"
            href="{{ path('factures_list') }}">Mes
            factures <i class="fas fa-angle-down float-right angleDP"></i></a>
        <a class="{{ (title == 'Profile') ? 'profileActiveLead' : '' }}" href="{{ path('user_profile') }}">Mon Compte <i
                class="fas fa-angle-down float-right angleDP"></i></a>
        <ul>
            <li><a href="{{ path('user_infos_perso') }}">Informations personnelles</a></li>
            <li><a href="{{ path('user_reset_address') }}">Mes coordonnées</a></li>
            <li><a href="{{ path('user_reset_email') }}">Email</a></li>
            <li><a href="{{ path('reset_password') }}">Mot de passe</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h1 class="headerOneColor">Liste de mes factures</h1>
        <p class="mb-4 textMedium">Voici la liste des factures de toutes vos commandes.</p>

        <h2 class="headerTwoProfile">LISTE DE MES FACTURES</h2>
        <div class="infosPerso">
            {% if factures | length != null %}
            <table class="table commandeListTable">
                <thead>
                    <tr class="trBorderless">
                        <th>Réf.</th>
                        <th>Désignation</th>
                        <th>Date</th>
                        <th>Prix</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facture in factures %}
                    {% for item in facture.commande.produit %}
                    <tr>
                        <td>
                            {{ facture.reference }}
                        </td>
                        <td>
                            {{ item.reference }}
                        </td>
                        <td>
                            {{ facture.date | date('d/m/Y') }}
                        </td>
                        <td>
                            {{ item.prixTTC | number_format(2, ',', ' ') }}€
                        </td>
                        <td class="text-center">
                            <a href="{{ path('commandes_facture_pdf', { 'id' : facture.id }) }}" target="_blank"><i
                                    class="icon-reload reloadFacture"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
            
                </tbody>
            
            </table>
            {% else %}
            <p class="mb-4 textMedium">Vous n'avez aucune facture.</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}