<!DOCTYPE html>
<html lang="fr">

<head>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="{% block motsCles %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        
        {{ encore_entry_link_tags('app') }}
        
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,900,900i&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">
        
        <!-- Bootstrap Date Picker Stylesheet -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
        <!-- Ico-moon Stylesheet -->
        <link rel="stylesheet" href="{{ asset('css/icomoon/style.css') }}">
        <!-- Screen Stylesheet -->
        <link rel="stylesheet" media="screen and (min-width: 992px)" href="{{ asset('css/style.css') }}">
        <!-- Tablet CSS style -->
        <link rel="stylesheet" media="(min-width: 768px) and (max-width:991.98px)" href="{{ asset('css/tablet.css') }}">
        <!-- Mobile CSS style -->
        <link rel="stylesheet" media="screen and (max-width:640px)" href="{{ asset('css/mobile.css') }}">
        
        {{ encore_entry_script_tags('app') }}

        <title>Page d'erreur</title>
    </head>
</head>

<body class="errors__body">
    <div class="text-center error__content__500">
        <h1 class="mt-4">Oops! Une erreur s'est produite</h1>
        <h3 style="color:#00BFA6">Le serveur a renvoyé un "{{ status_code }} {{ status_text }}".</h3>
        <p class="mt-2 mb-4">Quelque chose s'est mal passé.
            Veuillez nous indiquer ce que vous faisiez lorsque cette erreur s'est produite. Nous le corrigerons dès que possible.</p>
        <a class="btn btnSuccess2" href="{{ path('home') }}">RETOUR À LA PAGE D'ACCUEIL</a>
    </div>
</body>

</html>