{% extends 'base.html.twig' %}

{% set title = 'Mes coordonnées' %}

{% block content %}

{% if app.user %}

<div class="row">
    <div class="col-md-3 profileLeft">
        <a class="{{ (title == 'Liste des commandes') ? 'profileActiveLead' : '' }}" href="{{ path('commandes_list') }}">Mes
            commandes <i class="fas fa-angle-down float-right angleDP"></i></a>
        <a class="{{ (title == 'Liste des factures') ? 'profileActiveLead' : '' }}"
            href="{{ path('factures_list') }}">Mes
            factures <i class="fas fa-angle-down float-right angleDP"></i></a>
        <a id="show__my__count" class="{{ (title == 'Profile') ? 'profileActiveLead' : '' }}" href="{{ path('user_profile') }}">Mon Compte <i
                class="fas fa-angle-down float-right angleDP"></i></a>
        <ul>
            <li><a href="{{ path('user_infos_perso') }}">Informations personnelles</a></li>
            <li><a class="{{ (title == 'Mes coordonnées') ? 'profileActive' : '' }}" href="{{ path('user_reset_address') }}">Mes coordonnées</a class="{{ (title == 'Infos personnelles') ? 'profileActive' : '' }}"></li>
            <li><a href="{{ path('user_reset_email') }}">Email</a></li>
            <li><a href="{{ path('reset_password') }}">Mot de passe</a></li>
        </ul>
    </div>

    <div class="col-md-9 profileRight">
        <h1 class="headerOneColor">Mon Compte</h1>
        <p class="mb-4">Retrouvez et mettez à jour ici toutes vos informations personnelles.</p>

        <h2 class="headerTwoProfile">MON PROFIL</h2>
        <div class="infosUser">
            <div class="tableBloc1">
                <strong>Informations personnelles</strong>
            </div>
            <div class="tableBloc2 text-center">
                {{ (user.civilite == 'm') ? 'Monsieur' : 'Madame' }} {{ user.prenom }} {{ user.nom }}
            </div>
            <div class="tableBloc3">
                <p>Né(e) le :
                    <span class="userResult">
                        {{ (user.userAdress is not empty) ? user.userAdress.birthday | date('d/m/Y') : 'Non renseigné'}}
                    </span>
                </p>
                <p>Profession :
                    <span class="userResult">
                        {{ (user.userAdress is not empty) ? user.userAdress.profession | capitalize : 'Non renseigné'}}
                    </span>
                </p>
            </div>
            <div class="tableBloc4 text-right">
                <a href="{{ path('user_infos_perso') }}">
                    <i class="icon-edit"></i>
                </a>
            </div>
        </div>
    
        <div class="infosPerso">
            <div class="mb-4">
                <i class="icon-edit mr-1"></i>
                <span class="title editTitle">
                    Modification des coordonnées
                </span>
            </div>

            {{ form_start(form) }}
            
            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.userAdress.ville, { 'label' : 'Ville de résidence' }) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.userAdress.codePostal, { 'label' : 'Code postal' }) }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.userAdress.pays, { 'label' : 'Pays' }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.userAdress.telephone, { 'label' : 'Téléphone' }) }}
                </div>
            </div>
            
            {{ form_row(form.userAdress.adresse, { 'label' : 'Adresse' }) }}
        
            {{ form_row(form.password, { 'attr' : { 'value' : user.password } }) }}
        
            {{ form_row(form.userAdress.nom, { 'attr' : { 'value' : user.nom } }) }}
            {{ form_row(form.userAdress.prenom, { 'attr' : { 'value' : user.prenom } }) }}
            <div class="hiddenInfosPerso">
                {{ form_rest(form) }}
            </div>
        
            <div class="col-md-6 mx-auto text-center">
                <a href="{{ path('user_profile') }}" class="btn btnSubmitRegular mr-4">Annuler</a>
                <button type="submit" class="btn btnSubmit">Actualiser</button>
            </div>
        
            {{ form_end(form) }}  
        </div>

        <div class="infosUser">
            <div class="tableBloc1Bis">
                <strong>Email</strong>
            </div>
            <div class="tableBloc3Bis">
                {{ user.email }}
            </div>
            <div class="tableBloc4 text-right">
                <a href="{{ path('user_reset_email') }}">
                    <i class="icon-edit"></i>
                </a>
            </div>
        </div>

        <div class="infosUser">
            <div class="tableBloc1Bis">
                <strong>Mot de passe</strong>
            </div>
            <div class="tableBloc3Bis iconPadlock">
                * * * * * * * * * * * * * * * * * * * * <i class="icon-padlock"></i>
            </div>
            <div class="tableBloc4 text-right">
                <a href="{{ path('reset_password') }}">
                    <i class="icon-edit"></i>
                </a>
            </div>
        </div>

    </div><!-- col-md-9 -->
</div>

{% endif %}

{% endblock %}